# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Venv
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Data
data/graphs/
data/distance_matrices/
*.pickle
*.joblib

# Testes
.coverage
htmlcov/
.pytest_cache/

# Streamlit
.streamlit/secrets.toml
